.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  font-size: 18px;
  color: black;
  background-color: rgb(169, 169, 166);
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.75, 0.82, 0.5, 1);
  height: fit-content;
}

.btn:focus,
.btn:hover {
  color: rgb(236, 237, 238);
  background-color: rgb(3, 3, 3);
  transition: all 1s cubic-bezier(0.75, 0.82, 0.5, 1);
  transform: scale(1.03);
}
