.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
  padding: 20px;
  border: 3px double #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-self: flex-start;
  align-items: center;
}

.contactWrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contactRow {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 6px;
}

.image {
  width: 30px;
  height: 30px;
}
